.contact {
  padding: 4rem 0rem 1rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.contact h1 {
  text-align: center;
  color: white;
  font-family: font3;
  margin-block: 2rem;
  padding-inline: 3rem;
}

.contact h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: font1;
  gap: 2rem;
}

.contact h5 span {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact .contact-form {
  align-items: center;
  justify-content: center;
  font-family: font3;
  padding: 3rem 3rem 0;
}

.contact .contact-form .form-control {
  border-radius: 5px;
  border: none;
  padding-inline: 1rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact .contact-form .textarea {
  border-radius: 5px;
}

.contact .send-btn {
  color: black;
  background-color: white;
  border-radius: 5px;
  border: none;
  transition: 0.4s;
}

.contact .send-btn:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (max-width: 300px) {
  .contact h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: font1;
    gap: 1rem;
  }
}
