.contact {
  padding: 5rem 2rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.contact::before {
  content: "";
  background-image: url("../Images//background1.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 15%;
}

.contact .second-contact {
  position: relative;
}
.contact h1 {
  text-align: center;
  color: #e3f0fc;
}
