.gallery {
  padding: 10rem 2rem;
  min-height: 100vh;
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}

.gallery-image {
  border: none;
  border-radius: 3px;

  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
