.gallery {
  padding: 10rem 2rem;
  min-height: 100vh;
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}

.gallery-image {
  margin-bottom: 10px;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
