.home {
  padding: 15rem 2rem;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
}

.home::before {
  content: "";
  background-image: url("../Images//background1.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 20%;
}

.second-home {
  position: relative;
}

.home h1 {
  text-align: center;
  color: #ef5623;
}

.home .progressbar {
  max-width: 500px;
  margin: auto;
  border-radius: 0px;
  height: 50px;
}
