.home {
  padding: 5rem 2rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.home::before {
  content: "";
  background-image: url("../Images//background1.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 15%;
}

.home .second-home {
  position: relative;
}

.home h1 {
  text-align: center;
  color: #ef5623;
}

.home .progressbar {
  max-width: 500px;
  margin: auto;
  border-radius: 0px;
  height: 50px;
}

.home .container {
  display: flex;
  white-space: nowrap;
  margin-inline: 2rem;
}

.home .list {
  display: flex;
  align-items: top;
  -webkit-animation: loop 20s infinite linear;
  animation: loop 10s infinite linear;
}

.home .item-txt {
  font-family: Kumbh Sans;
  font-size: 110px;
  line-height: 110px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e3f0fc;
}

.home .item-d {
  display: inline;
}

.home .item-dot {
  max-width: 1px;
  max-height: 20px;
  margin-inline: 30px;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-30px);
}

.home .dot {
  background-color: transparent;
}

@keyframes loop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
