.home {
  padding: 10rem 2rem 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x: hidden;
}

.home::before {
  content: "";
  background-image: url("../Images/symbol.png3.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}

.home .second-home {
  position: absolute;
  top: 30%;
}

.home .container {
  display: flex;
  white-space: nowrap;
  margin-inline: 2rem;
  position: absolute;
}

.home .list {
  display: flex;
  align-items: top;
  -webkit-animation: loop 40s infinite linear;
  animation: loop 40s infinite linear;
  animation-delay: 2.5s;
}

.home .item-txt {
  font-family: font2;
  font-size: 250px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #e3f0fc;
}

.home .row {
  padding: 5rem 1rem 0;
}

.home h2 {
  color: #ef5623;
  font-family: font3;
  font-weight: 500;
}

.home h5 {
  color: #e3f0fc;
  font-family: font1;
  font-weight: 100;
  max-width: 1000px;
  line-height: 30px;
}

.home .graphic-designer {
  padding-block: 6rem 0.3rem;
  padding-inline: 1rem;
}

.home .desc {
  padding-inline: 1rem;
}

.home .desc-span {
  color: #e3f0fc;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
}

.home .desc .desc-span:hover {
  color: #ef5623;
  font-weight: 500;
  text-decoration: underline;
}

.home .social-media {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.home .social-media a {
  margin-inline: 10px;
  border: 2px solid #ef5623;
  color: #ef5623;
  border-radius: 50px;
  padding: 6px;
  justify-content: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.home .social-media a:hover {
  background-color: #ef5623;
  color: #e3f0fc;
}

.home .social-media .x-icon {
  margin-inline: 10px;
  border: 2px solid #ef5623;
  background-color: #ef5623;
  color: #e3f0fc;
  border-radius: 50px;
  padding: 6px;
  justify-content: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.4s;
}

@keyframes loop {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 767.5px) {
  .home {
    padding: 10rem 0.5rem 0;
  }
  .home .graphic-designer {
    padding-inline: 2rem;
  }

  .home .desc {
    padding-inline: 2rem;
  }
  .home .social-media {
    padding-inline: 1.4rem;
  }
  .home .row {
    padding-block: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .home .item-txt {
    font-family: font2;
    font-size: 350px;
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #e3f0fc;
  }
  .home .row {
    padding: 10rem 1rem 0;
  }
  .home h2 {
    font-size: 40px;
  }

  .home h5 {
    font-size: 25px;
    line-height: 40px;
  }
}


@media screen and (max-width: 991.5px){
  .home::before {
    background-image: none;
  }
}