.services {
  padding: 10rem 2rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

.services::before {
  content: "";
  background-image: url("../Images//background.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 15%;
}

.services .second-services {
  position: relative;
}
.services h1 {
  text-align: center;
  color: #e3f0fc;
}

.services .progressbar {
  max-width: 500px;
  margin: auto;
  border-radius: 0px;
  height: 50px;
}
