.services {
  padding: 10rem 2rem;
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}

.services::before {
  content: "";
  background-image: url("../Images//background1.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 15%;
}

.services .second-services {
  position: relative;
}
.services h1 {
  text-align: center;
  color: #e3f0fc;
}

.services .progressbar {
  max-width: 500px;
  margin: auto;
  border-radius: 0px;
  height: 50px;
}
