.navbar {
  background-color: transparent;
  margin-top: 1rem;
}

.navbar .logo {
  width: 110px;
  margin-left: 3rem;
}

.navbar #toggler {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px 0px;
  border: none;
  margin-right: 2rem;
}

.navbar #nav-items {
  text-align: center;
}

.navbar .link-item {
  text-decoration: none;
  padding: 0;
  color: #e3f0fc;
  max-width: fit-content;
  margin-inline: 15px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-family: font1;
  font-weight: 500;
}

.navbar .link-button {
  text-decoration: none;
  padding: 3px 13px;
  color: #e3f0fc;
  max-width: fit-content;
  margin-inline: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef5623;
  border-radius: 50px;
  font-family: font1;
  font-weight: 300;
}

@media screen and (max-width: 991.5px) {
  .navbar {
    background-color: black;
  }

  .navbar .container {
    padding: 1rem 1rem;
  }

  .navbar #nav-items {
    margin-top: 3rem;
  }

  .navbar .link-item,
  .navbar .link-button {
    text-align: center;
    margin-inline: auto;
  }

  .navbar #responsive-navbar-nav {
    height: 100vh;
    background-color: black;
  }
}
