.navbar {
  background-color: transparent;
}

.navbar .logo {
  width: 150px;
}

.navbar #toggler {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 0px 0px;
  border: none;
}

.navbar #nav-items {
  text-align: center;
}

.navbar .link-item {
  text-decoration: none;
  padding: 0;
  color: #e3f0fc;
  max-width: fit-content;
  margin-inline: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.navbar .link-button {
  text-decoration: none;
  padding: 5px 10px;
  color: #e3f0fc;
  max-width: fit-content;
  margin-inline: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef5623;
  border-radius: 50px;
}

@media screen and (max-width: 991.5px) {
  .navbar {
    background-color: black;
  }

  .navbar #nav-items {
    margin-top: 3rem;
  }

  .navbar .link-item , .navbar .link-button{
    text-align: center;
    margin-inline: auto;
  }

  .navbar #responsive-navbar-nav {
    height: 100vh;
  }
}
