@font-face {
    font-family: font1;
    src: url("./Fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
  }
  
  @font-face {
    font-family: font2;
    src: url("./Fonts/GLSNECB.ttf");
  }