@font-face {
  font-family: font1;
  src: url("./Fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
}

@font-face {
  font-family: font2;
  src: url('/src/Fonts/GillSansMT-ExtraCondensedBold.woff2') format('woff2'),
      url('/src/Fonts/GillSansMT-ExtraCondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: font3;
  src: url("./Fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf");
}


